extends ../shared/template

block content
  h1= title

  .row
    .small-6.columns
      form(action='/login', method='POST', enctype='multipart/form-data')#logindata
        fieldset
          legend Login
          label Email
          input(type='email', name='email', placeholder='you@you.com', autofocus=true)
          label Password
          input(type='password', name='password', placeholder='something secretive')
          button.radius.tiny.expand Login
