extends ../shared/template

block content
  h1= title

  .row
    .small-6.columns
      form(action='/register', method='POST', enctype='multipart/form-data')#registrationdata
        fieldset
          legend Register for AirBnB Light
          label Email
          input(type='email', name='email', placeholder='you@you.com', autofocus=true)
          label Password
          input(type='password', name='password', placeholder='something secretive')
          label Role
          select(name='role')
            option Guest
            option Host
          button.radius.tiny.expand Create Account
